#buildTableAndBtnDiv{
    display: flex;
    align-items: center;
}

#siteBorderDiv{
    position: relative;
    border: 8px solid transparent;
    border-radius: 50px;
    background: linear-gradient(45deg,rgb(45, 129, 255), rgb(229, 99, 255));
    background-clip: padding-box;
    padding: 10px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;

    width: 80%;
    padding-left: 50px; padding-right: 50px;
    margin:auto;
}

#siteBorderDiv:after{
    position: absolute;
    top: -8px; bottom: -8px;
    left: -8px; right: -8px;
    background: linear-gradient(45deg, red, blue);
    content: '';
    z-index: -1;
    border-radius: 50px;
}

#logo{
    width: 30%;
    border: 0;
}

body{
    background-color: #accbfc;
}

table{
    border-spacing: 15px;
}

h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 3px 9px black;
    margin-top: 5px;
}

h3{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 3px 9px black;
}

.charactersIcon{
    width: 50%;
}

.vehiclePart{
    width: 90%;
}

.tireIcon{
    width: 90%;
}

.gliderIcon{
    width: 90%;
}

.randomParts{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: #accbfc;
    width: 150px;
    height: 115px;
    box-shadow: 0 3px 5px black, inset 0 0 5px white;
    box-sizing: border-box;
}

.errorRandomParts{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #fcacac;
    width: 150px;
    height: 115px;
    box-shadow: 0 3px 5px black, inset 0 0 5px white;
    box-sizing: border-box;
}

.selectableCell{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: #accbfc;
    width: 150px;
    height: 115px;
    transition-duration: 0.4s;
    box-shadow: 0 3px 5px black, inset 0 0 5px white;
    box-sizing: border-box;
}

.selectableCell:hover{
    background-color: white;
}

.unselectableCell{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #fcacac;
    width: 150px;
    height: 115px;
    transition-duration: 0.4s;
    box-shadow: 0 3px 5px black, inset 0 0 5px white;
    box-sizing: border-box;
}

.unselectableCell:hover{
    background-color: white;
}

.button{
    width: 100px;
    height: 65px;
    transition-duration: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    color:black;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 0 3px 5px black;
}

.blueButton{
    background: linear-gradient(0deg,#accbfc, transparent)#498fff;
    font-weight: bold;
    border: 2px solid blue;
}

.blueButton:hover{
    background-color: #accbfc;
    color:black;
}

.redButton{
    background: linear-gradient(0deg,#fcacac, transparent)#ff4d4d;
    font-weight: bold;
    border: 2px solid red;
}

.redButton:hover{
    background-color: #fcacac;
    color:black;
}

.greenButton{
    background: linear-gradient(0deg,#ACFCC2, transparent)#00d63d;
    font-weight: bold;
    border: 2px solid green;
}

.greenButton:hover{
    background-color: #ACFCC2;
    color:black;
}

.yellowButton{
    background: linear-gradient(0deg,#Fbffd1, transparent)#eaff00;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 0);
}

.yellowButton:hover{
    background-color: #Fbffd1;
    color:black;
}

.pinkButton{
    background: linear-gradient(0deg,#ffc2f5, transparent)rgb(255, 112, 250);
    font-weight: bold;
    border: 2px solid rgb(218, 55, 212);
}

.pinkButton:hover{
    background-color: #ffc2f5;
    color:black;
}

.orangeButton{
    background: linear-gradient(0deg,#FCD6AC, transparent)#ff9317;
    font-weight: bold;
    border: 2px solid orangered;
}

.orangeButton:hover{
    background-color: #FCD6AC;
    color:black;
}

.cellSizeButton{
    width: 150px;
    height: 50px;
    transition-duration: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    color:black;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 0 3px 5px black, inset 0 0 5px white;
}

.buttonsDiv{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.tableWithButtons{
    width: fit-content;
    height: fit-content;
}

.tableSection{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
}

.partSection{
    position: relative;
    border: 8px solid transparent;
    border-radius: 50px;
    background: transparent;
    background-clip: padding-box;
    padding: 10px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black;
    margin-top: 10px;
    width: 90%;
}

.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: justify;
    margin: auto;
    margin-top: 10px;
}

.footer a{
    margin-right: 10px;
    color:black;
    text-decoration: none;
}

.footer a:hover{
    color: white;
}

.displayNone {
    display: none;
}