.charactersIcon{
    width: 50%;
}

.vehiclePart{
    width: 90%;
}

.selectableCell{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman';
    border: 2px solid blue;
    background-color: #accbfc;
    width: 130px;
    transition-duration: 0.5s;
}

.selectableCell:hover{
    background-color: white;
}

.unselectableCell{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman';
    border: 2px solid red;
    background-color: #fcacac;
    width: 130px;
    transition-duration: 0.5s;
}

.unselectableCell:hover{
    background-color: white;
}

.selectAllButton{
    background-color: #accbfc;
    font-weight: bold;
    color: white;
    border: 2px solid blue;
    width: 136px;
    height: 40px;
    transition-duration: 0.5s;
    margin: 2px;
}

.selectAllButton:hover{
    background-color: white;
    color:black;
}

.deselectAllButton{
    background-color: #fcacac;
    font-weight: bold;
    color: white;
    border: 2px solid red;
    width: 136px;
    height: 40px;
    transition-duration: 0.5s;
}

.deselectAllButton:hover{
    background-color: white;
    color:black;
}