.charactersIcon{
    width: 50%;
}

.vehiclePart{
    width: 90%;
}

.selectableCell{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman';
    border: 2px solid blue;
    background-color: #accbfc;
    width: 130px;
}

.unselectableCell{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman';
    border: 2px solid red;
    background-color: #fcacac;
    width: 130px;
}